body,html {
  margin: 0;
  height: 100%;
  position: relative;
}
div {
  background-color: tomato;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  animation-name: move;
  animation-duration: 3s
}
/*
@keyframes move {
  0% {
    left: 0;
    margin-left: 0;
  }
 25%  {
   left: 100%;
   margin-left: -100px;
   top: 0;
   margin-top: 0;
 }
 
 50% {
  left: 100%;
  margin-left: -100px;
  top: 100%;
  margin-top: -100px;
}
75% {
  left:0;
  margin-left: 0;
  top: 100%;
  margin-top: -100px;
}
100% {
  left: 0;
   margin-left: 0;
   top:0;
   margin-top: 0;
}

}'*/

@keyframes move {
  0% {
    left: 0;
    margin-left: 0;
  }
  25%  {
   transform: translateX(900px);
   margin-left: -70px;
    top: 0;
    margin-top: 0;
  }
  50% {
    transform: translateY(500px);
    right: 0;
    
  }
  75% {
    left:0;
    margin-left: 0;
    top: 100%;
    margin-top: -100px;
  }
}
